:root {
    --background: #130f23;
    --violet2: #1C1932;
    --softGrey: #F6F7FB;
    --darkBlue: #2C304A;
    --darkBlue2: #181E34;
    --greyBlue: #4C4967;
    --lightBlue: #45A8FB;
    --blue: #306BF3;
    --mossGreen: #149971;
    --white: #ffffff;
}