:host {
    width: 100%;
    overflow-y: auto;
}

.portfolio-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 5rem 2rem 0rem 2rem;

    mat-table {
        width: 100%;
        background-color: unset;
        .mat-header-cell {
            color: white;
            background-color: rgb(46, 46, 46);
            height: 1rem;
        }
        .mat-cell {
            color: wheat;
        }
    }
    mat-card {
        width: 100%;
        background-color: rgba(128, 128, 128, 0.3);
        color: wheat;
        margin-bottom: 2rem;
        mat-card-content {
            color: whitesmoke;
            overflow: auto;
        }
    }
}

.mat-cell {
    overflow: hidden;
    .copy-icon {
        margin-left: 0.5rem;
        font-size: 0.9rem;
        cursor: pointer;
        &:hover {
            filter: invert(1);
        }
    }
}

.mat-column-actions {
    .span-button {
        color: whitesmoke;
        cursor: pointer;
        margin: 0 0.5rem;
        &:hover {
            color: gray;
        }
    }
}

  .mat-column-address {
    min-width: 23rem;
  }

  .mat-column-propertyid,
  .mat-column-name,
  .mat-column-locked,
  .mat-column-available,
  .mat-column-reserved {
    min-width: 6rem;
  }

  .mat-column-total {
    min-width: 10rem;
  }

  .mat-column-actions {
    min-width: 12rem;
  }