:host {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    .tl-container {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 1rem;
    }
}

mat-spinner {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}