<mat-table [dataSource]="pendingTxs" *ngIf='pendingTxs?.length'>
    <ng-container matColumnDef="id" sticky>
      <mat-header-cell *matHeaderCellDef># </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index"> {{ i }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="txid" sticky>
      <mat-header-cell *matHeaderCellDef> txId </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.txid}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status" >
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fee" >
      <mat-header-cell *matHeaderCellDef> Fee </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fee}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>