.dialog-container {
    mat-spinner {
        border: 1px solid red;
    }
}

::ng-deep .tab-container {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

::ng-deep .tx-builder-group {
    .mat-tab-label {
        color: black;
    }
    .mat-tab-disabled {
        opacity: 0.15;
    }
}
