.dialog-container {
    mat-dialog-content {
        .content-container {
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
            .directory {
                margin-bottom: 2rem;
            }
            .create-button {
                margin: 0.5rem 0;
                background: mediumseagreen;
                &:disabled {
                    background-color: gray;
                }
            }
        }
    }

}