<mat-card color='accent'>
    <mat-card-header></mat-card-header>
    <mat-card-content>
        <mat-form-field appearance="outline" floatLabel="always" color='red' >
            <input matInput type="number" placeholder="0">
            <span class='prefix' matPrefix>Amount: </span>
            <span class='sufix' matSuffix>{{ selectedMarket.first_token.shortName }}</span>
            <mat-hint>buy max: 0.00 / sell max: 0.00</mat-hint>
          </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always" color='red' >
            <input matInput type="number" placeholder="0">
            <span class='prefix' matPrefix>Price: </span>
            <span class='sufix' matSuffix>{{ selectedMarket.second_token.shortName }}</span>
            <mat-hint>current price: 0.00</mat-hint>
          </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
            <button mat-raised-button color="green" style='background-color: rgb(85, 194, 100);'>BUY</button>
            <button mat-raised-button color="warn">SELL</button>
    </mat-card-footer>
</mat-card>