mat-toolbar {
  z-index: 5;
  .left-side {
    img {
      max-height: 70%;
      margin-left: 2rem;
    }
  }
    .spacer {
        flex: 1 1 auto;
      }
      .right-side {
        display: flex;
        .address {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.7rem;
          span {
            cursor: pointer;
          }
          .balance {
            margin-left: 0.25rem;
            transition: color 0.25s;
            font-size: 0.8rem;
            &:hover {
              color: orange;
            }
          }
        }
      }

}

.mat-toolbar {
  background: var(--darkBlue2);
  color: var(--white);
  position: relative;
}

.nav-container {
  height: 5rem;
  padding-top: 2rem;
  margin-top: -2rem;
  user-select: none;
  a {
    color: var(--white);
  }
}

::ng-deep .mat-ink-bar {
  background: var(--lightBlue) !important;
}