.home-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 80%;
    min-width: 45rem;
    .logo {
        width: 50%;
        display: flex;
        flex-direction: column;
        span {
            white-space: nowrap;
        }
        .big {
            font-size: 2.5rem;
            line-height: 3rem;
        }
        .small {
            margin-top: 1.5rem;
        }
    }
    .login {
        width: 50%;
        height: 100%;
        padding-top: 3rem;
    }
}

:host {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-y: auto;
}