:host {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
    .window-wrapper {
        pointer-events: all;
        display: flex;
        min-width: 20rem;
        flex-direction: column;
        box-shadow: 0 0 1rem 0.1rem black;
        position: absolute;
        transition: transform 0.25s ease-in-out;
        z-index: 16;
        .header {
            background-color: gray;
            height: 2rem;
            padding: 0 4px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            .title {
                display: flex;
                align-items: center;
                height: 100%;
                font-size: 1rem;
                font-weight: bold;
            }
            .icons {
                display: flex;
                align-items: center;
                height: 100%;
                mat-icon {
                    cursor: pointer;
                    transition: transform 0.25s;
                    &:hover {
                        transform: scale(0.75);
                    }
                }
            }
        }
        .body {
            display: flex;
            width: 100%;
            flex-shrink: 1;
            background-color: whitesmoke;
            min-height: 4rem;
            padding: 0.5rem;
        }
        .resize {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0.5rem;
            height: 0.5rem;
            background-color: gray;
        }
    }
}

.minimized {
    transform: translateY(1000%) translateX(-1000%);
}