:host {
    height: 2rem;
    width: 100%;
    background-color: var(--darkBlue2);
    box-shadow: 0 0 0.1rem 0 black;
    padding: 0.25rem;
    z-index: 20;
    color: var(--white);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .tabs {
        flex-shrink: 1;
        display: flex;
        .tab {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.1rem 0.5rem;
            border: 1px solid black;
            cursor: pointer;
            color: var(--white);
            background-color: var(--darkBlue);
        }
    }
    .info-line {
        display: flex;
        .info {
            border-left: 1px solid white;
            padding: 0 1rem;
            &:first-child {
                border-left: unset;
            }
            .blinking {
                animation: blinker 2s ease-in infinite; 
            }
        }
    }
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }