:host {
    height: 2rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 0.1rem 0 black;
    padding: 0.5rem;
    z-index: 20;
    color: wheat;
    position: absolute;
    bottom: 0;
    .info-line {
        text-align: right;
    }
}