mat-grid-list {
    margin: 0 auto;
    max-width: 100rem;
    min-width: 1400px;
    mat-grid-tile {
        mat-card {
            width: 100%;
            height: 100%;
            background-color: var(--darkBlue2);
            color: wheat;
        }
    }
}