:host {
    width: 100%;
    overflow-y: auto;
    .reward-page-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 5rem 2rem 0rem 2rem;
        mat-card {
            width: 100%;
            background-color: rgba(128, 128, 128, 0.3);
            color: wheat;
            margin-bottom: 2rem;
            padding-top: 3rem;
            .custom-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 2rem;
                margin-bottom: 1rem;
            }
            mat-card-content {
                color: whitesmoke;
                overflow: auto;
                mat-table {
                    width: 100%;
                    background-color: unset;
                    .mat-header-cell {
                        color: white;
                        background-color: rgb(46, 46, 46);
                        height: 1rem;
                    }
                    .mat-cell {
                        overflow: hidden;
                        color: wheat;

                        .copy-icon {
                            margin-left: 0.5rem;
                            font-size: 0.9rem;
                            cursor: pointer;
                            &:hover {
                                filter: invert(1);
                            }
                        }
                    }
                    .mat-column-address {
                        min-width: 23rem;
                    }
                    
                    .mat-column-status {
                        justify-content: space-around;
                        min-width: 15rem;
                    }

                    .mat-column-balance {
                        min-width: 6rem;
                    }

                    // .mat-column-history {
                    //     min-width: 4rem;
                    //     justify-content: center;
                    //     mat-icon {
                    //         cursor: pointer;
                    //     }
                    // }
                }
            }
        }
    }
}
