.settings-page-container {
    border: 1px solid black;
    box-shadow: 0 0 1rem 0.1rem black;
    background-color: rgba(255, 255, 255, 0.863);
    width: 60%;
    .row {
        display: flex;
        color: black;
        justify-content: space-evenly;
        align-items: center;
        margin: 1rem;
        div {
            overflow: hidden;
            text-align: center;
        }
    }
    .head {
        border-bottom: 1px solid black;
    }
}

:host {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-top: 3rem;
}
