:host {
    width: 100%;
    overflow-y: auto;
}

.multisig-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 5rem 2rem 0rem 2rem;
    mat-card {
        width: 100%;
        background-color: rgba(128, 128, 128, 0.3);
        color: wheat;
        margin-bottom: 2rem;
        padding-top: 3rem;
        mat-card-content {
            color: whitesmoke;
            overflow: auto;
        }
        .new-multisig-button {
            position: absolute;
            right: 20px;
            top: 1rem;
        }

        .new-tx-button {
            position: absolute;
            right: 150px;
            top: 1rem;
        }
    }

    mat-table {
        width: 100%;
        background-color: unset;
        .mat-header-cell {
            color: white;
            background-color: rgb(46, 46, 46);
            height: 1rem;
        }
        .mat-cell {
            color: wheat;
        }
    }
}

.mat-cell {
    overflow: hidden;
    .copy-icon {
        margin-left: 0.5rem;
        font-size: 0.9rem;
        cursor: pointer;
        &:hover {
            filter: invert(1);
        }
    }
}

.mat-column-address {
    min-width: 23rem;
}

.mat-column-nkeys,
.mat-column-pvalue,
.mat-column-pendingtxs,
.mat-column-keys {
min-width: 6rem;
}