:host {
    width: 100%;
    height: 100%;
}

mat-card {
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.3);
    color: wheat;
    padding: unset;
    mat-card-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 1rem 0;
        .sell {
            overflow: hidden;
            height: 45%;
            td.cdk-column-price {
                color: red
            }
        }
        .middle {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 10%;
            color: white;
            .index {
                font-size: 1.1rem;
                margin-left: 0.5rem;
            }
            mat-icon {
                font-size: 0.8rem;
            }
        }
        .buy {
            overflow: hidden;
            height: 45%;
            td.cdk-column-price {
                color: green
            }
        }

    }
}

table {
    width: 100%;
    background-color: unset;
        tr {
            height: 1rem;
        }
        .opened-buy-position {
            background-color: rgba(0,255,0,0.05);
        }
        .opened-sell-position {
            background-color: rgba(255,0,0,0.05);
        }
        th {
            color: gainsboro;
            font-weight: 200;
        }
        td {
            color: whitesmoke;
            font-weight: 300;

        }

        tr.cdk-row:hover {
            background-color: rgba(128, 128, 128, 0.25);
            cursor: pointer;
        }

        th.cdk-column-total,
        td.cdk-column-total,
        th.cdk-column-amount,
        td.cdk-column-amount {
            text-align: right;
        }
}