:host {
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
    background-color: unset;
    tr {
        height: 1.75rem;
    }

    tr:nth-child(odd) {
        background-color: var(--darkBlue);
    }

    .mat-header-row {
        background-color: var(--darkBlu2) !important;
    }

    td {
        color: var(--white);
        font-size: 0.75rem;
        font-weight: 300;
    }

    th {
        color: var(--hardGrey);
        font-size: 0.75rem;;
        font-weight: 300;
        background-color: var(--darkBlue2);
    }

    td.mat-column-actions {
        mat-icon {
            cursor: pointer;
        }
    }

    td.mat-column-sender,
    td.mat-column-channel,
    td.mat-column-property,
    td.mat-column-amount,
    td.mat-column-block {
        min-width: 4rem;
    }

    td.mat-column-sender,
    td.mat-column-channel {
        span {
            cursor: pointer;
        }
    }
}