:host {
  height: 100%;
  mat-grid-list {
    margin: 0 auto;
    max-width: 2800px;
    .tl-container {
        padding-top: 7rem;
        width: 100%;
        height: calc(100% - 2rem);
        color: whitesmoke;
        display: flex;
        justify-content: center;
      }
  }
}

::ng-deep .mat-grid-tile-content {
  align-items: unset !important;
}