.login-page-container {
    border: 1px solid black;
    box-shadow: 0 0 1rem 0.1rem black;
    background-color: rgba(255, 255, 255, 0.863);
    width: 60%;

    .form {
        text-align: center;
        padding: 1rem;
        mat-form-field {
            width: 100%;
            color: white;
        }
    }
}

.input-file {
    display: flex;
    width: 100%;
    margin: 1rem 0;
    .selected-file {
        display: flex;
        align-items: center;
        color: black;
        margin: 0 1rem;
    }
}
:host {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-top: 3rem;
}